<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/" />
    <link href="./index.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/htmx.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workshop Demo App</title>
  </head>
  <body>
    <div id="root">
      <main class="app-wrapper">
        <div class="sidebar-wrapper">
          <div class="sidebar">
            <input
              tabindex="2"
              placeholder="Search blog posts"
              type="search"
              name="search"
              hx-post="http://localhost:3003/api/blogposts/search"
              hx-trigger="keyup changed delay:300ms, search"
              hx-target="#blog-list-container"
            />
            <div>
              <div
                hx-get="http://localhost:3003/api/blogposts"
                hx-swap
                hx-trigger="load, postSubmitted from:body"
                id="blog-list-container"
              >
                <div>Loading...</div>
              </div>
            </div>
            <div>
              <button
                data-cancel-blog-button
                class="cancel hidden"
                tabindex="0"
                hx-get="http://localhost:3003/api/blogposts/create/cancel"
                hx-target=".main-content-wrapper"
              >
                Cancel
              </button>
              <button
                data-create-blog-button
                class="create"
                tabindex="0"
                hx-get="http://localhost:3003/api/blogposts/create"
                hx-target=".main-content-wrapper"
              >
                Create new
              </button>
            </div>
          </div>
        </div>
        <div data-main-content-wrapper class="main-content-wrapper">
          <div>Loading...</div>
        </div>
      </main>
    </div>
  </body>
  <script>
    (function () {
      const contentWrapperEl = document.querySelector('[data-main-content-wrapper]');
      const createButtonEl = document.querySelector('[data-create-blog-button]');
      const cancelButtonEl = document.querySelector('[data-cancel-blog-button]');

      document.body.addEventListener('listLoaded', (e) => {
        if (!window.__selectedBlogItem && e.detail.emptyContent) {
          contentWrapperEl.innerHTML = e.detail.emptyContent;
        }
      });

      document.body.addEventListener('blogLoaded', (e) => {
        cancelButtonEl.classList.add('hidden');
        createButtonEl.classList.remove('hidden');
      });

      document.body.addEventListener('formLoaded', () => {
        cancelButtonEl.classList.remove('hidden');
        createButtonEl.classList.add('hidden');
      });

      document.body.addEventListener('blogClosed', () => {
        if (window.__selectedBlogItem) {
          window.__selectedBlogItem.element.classList.remove('selected');
        }
        window.__selectedBlogItem = null;
      });

      document.body.addEventListener('cancelCreate', () => {
        cancelButtonEl.classList.add('hidden');
        createButtonEl.classList.remove('hidden');

        if (window.__selectedBlogItem) {
          htmx.trigger(window.__selectedBlogItem.element, 'click');
        }
      });

      document.body.addEventListener('postSubmitted', () => {
        cancelButtonEl.classList.add('hidden');
        createButtonEl.classList.remove('hidden');

        setTimeout(() => {
          if (window.__selectedBlogItem) {
            window.__selectedBlogItem.element.classList.remove('selected');
          }

          const element = window['blog-list-container'].lastElementChild.previousElementSibling; //last element is a script tag

          window.__selectedBlogItem = {
            element,
            id: element.dataset.id,
            expanded: false,
          };

          htmx.trigger(element, 'click');
          element.scrollIntoView({ behavior: 'smooth' });
        }, 100);
      });
    })();
  </script>
  <script></script>
</html>
