<a
  data-blog-list-item
  tabindex="0"
  class="blog-list-item {$selectedClass}"
  id="bloglist-item-{$id}"
  data-id="{$id}"
  href="/{$id}"
  hx-swap="innerHTML"
  hx-target=".main-content-wrapper"
  hx-boost="true"
>
  <div>
    <span>{$title}</span>
    {$toggle}
  </div>
  {$desc}
</a>
<script>
  (function () {
    const bloglistEl = window['bloglist-item-{$id}'];
    const toggleBtnEl = bloglistEl.querySelector('[data-bloglist-item-desc-toggle]');
    const descEl = bloglistEl.querySelector('[data-bloglist-item-desc]');

    if (toggleBtnEl) {
      toggleBtnEl.addEventListener('click', (e) => {
        e.stopPropagation();
        e.preventDefault();

        const symbol = toggleBtnEl.innerHTML.trim();
        if (symbol === '+') {
          toggleBtnEl.innerHTML = '-';
        } else {
          toggleBtnEl.innerHTML = '+';
        }
        descEl.classList.toggle('hidden');
      });
    }
  })();
</script>
