<div class="create-blogpost-wrapper">
  <form
    hx-post="http://localhost:3003/api/blogposts/create/submit"
    hx-trigger="submit"
    hx-target=".main-content-wrapper"
  >
    <input placeholder="Blog post title" type="text" value="" name="title" />
    <input placeholder="Blog post description" type="text" value="" name="desc" />
    <textarea name="content"></textarea>
    <button>Post</button>
  </form>
  <div class="blogpost">
    <h1></h1>
    <h2></h2>
    <div></div>
  </div>
</div>
<script>
  (function () {})();
</script>
